.containerCard{
    background-color: #2754ba;
    width: 300px;
    border-radius: 30px;
}

.titulo{
}

.imagem{
    background-color: white;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}